@charset "utf-8";
label {
	clear: both;
	float: left;
	margin-right: 2em;
	display: grid;
	grid-template-columns: 7.8em 2em;
	margin-bottom: 0.5em;
}
input {
	display: block;
	margin-bottom: 0.5em;
	
}
body {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
legend {
	margin-bottom: 1em;
}

#submit {
	margin-top: 1em;
	margin-left: 15.4em;
}
select {
	margin-bottom: 0.5em;
}
#error {
	color: red;
}
form {
	padding: 40px;
}
.error {
	color: red;
	padding-bottom: 10px;
}
input.invalid {
	border: 1px solid orange;
}
.hide {
	display: none;
}
#einzug {
	padding-left: 188px;
}